
    .light {
    font-size: 40px;
    font-weight: 400;
    color: #051145;
    
    }

    .rowstyle{
      padding-top: 100px;
        }

      
.img{
  max-width: 1780px;
  max-height: 1780px;
  transition: transform .2s ease;
        }
  .img:hover{
    transform: scale(1.2);
  }

/* card style */
.g-4{
  padding-top: 60px;
  height: 60%;
}
.card{
  padding-top: 15px;
  padding-bottom: 10px;
  transition: box-shadow .3s ease, transform .2s ease;
  
}
.card:hover {
  box-shadow: 0 1px 17px #9d9ceb;
 }

.card-img{
  max-width: 80px;
  max-height: 80px;
  margin: auto;
  transition: transform .2s ease;
}

.card-img:hover {
  transform: scale(1.1);
 }

.card-title{
  text-align: center;
}

/* subtitle-1 style */
.text-2{
  padding-top: 60px;
  color: #5956E9;
  font-weight: bold;
}

.circulo {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
  border: 1.5px solid #5956E9;
}

/* button styles */


button {
  padding: 10px 25px;
  border: unset;
  border-radius: 10px;
  color: #051145;
  z-index: 1;
  background: #f9f9f9;
  position: relative;
  font-weight: bold;
  font-size: 15px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(89,86,233,0.27);
  box-shadow: 4px 8px 19px -3px rgba(89,86,233,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #5956E9;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #fff;
 }
 
 button:hover::before {
  width: 100%;
 }