.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #14141C;
  
  }
  
  .text{
    color: white;
    font-size: 13px;
  }

  .text2{
    color: white;
    padding-top: 47px;
    font-size: 13px;
  }

  .logo-g{
    padding-top: 17px;
    padding-bottom: 17px;
    height: 58px;
    margin-left: 4%;
  }